*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;

}
html{


  scroll-behavior: smooth;
}
body{

font-family: 'Work Sans', sans-serif;
}

.container{

margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
@media(min-width:768px){

    .container{

        width: 750px;
    }
}
@media(min-width:992px){

    .container{

        width: 970px;
    }
}
@media(min-width:1200px){

    .container{

        width: 1170px;
    }
}
/*end global rules */


/* start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul{

    background-color: #f6f6f6;
    list-style: none;
    margin: 0;
    color: #aaa;
    right: 0;
    padding: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    position: absolute;
display: none;
z-index: 1;
}
.header .links ul::before{
    content: "";
    border: 10px solid;
    left: 180px;
    top: -20px;
    position: absolute;
    border-color: transparent transparent #f6f6f6 transparent;
}
.header .links:hover ul{

    display: block;
}
.header .links ul li  a{

    color: #333;
    transition: 0.3s;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.header .links ul  li a:hover{
padding-left: 25px;
}
.header .links ul li :not(:last-child) a {

    border-bottom:1px  solid #333 ;
}
.landing{
    margin-bottom: 120px;
    
background-image: url(https://images.unsplash.com/photo-1609688669309-fc15db557633?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;

height: 100vh;
}
.intro_text{
left: 50%;
top: 50%;
position: absolute;
transform: translate(-50%,-50%);
width: 320px;
max-width: 100%;
}

.landing h1{
    color: #10cab7;
    text-align: center;
    font-size: 50px;
}
.landing p{
    text-align: center;
}

/* start features */
.features{
     /* background-color: #f6f6f6;  */
  
    padding-top: 60px;
    padding-bottom: 60px;
    /* height: 300px; */
}
.features .containers
{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 40px;
/* background-color: #f6f6f6; */
}

@media(min-width:768px){

  .containers{

      width: 750px;
  }
  .services{

    margin-top:250px ;
  }
}



@media(min-width:992px)and (max-width:1200){

  .containers{

      width: 970px;
  }
  .services{

    margin-top:70px ;
  }
}
@media(min-width:1200px){

  .containers{
    margin-left: 100px;

      width: 1170px;
  }
  .services{

    margin-top:90px ;
  }}
.features .feat {
    padding: 20px;
    text-align: center;
  }
  .features .feat i{

    color: #10cab7;
  }
  .features .feat p{
    line-height: 30px;
    color: #777;
    
  }
  .services{
    padding-top: 60px;
    padding-bottom: 60px;
    /* margin-top: 430px; */
}


  .special-heading{
    
    color: #ededed;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
  }
  @media(max-width:767px)
  {
.special-heading
{

  font-size: 60px;
}
.special-heading + p{

margin-top: -20px;
}


  }
  .special-heading +p{
color: #888585;
    margin: -30px 0 0;
    text-align: center;
  }

/* start service */

   .services .service {  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
    
margin-top: 100px;
  
  }
  .service .ser{

    display: flex;
    margin-bottom: 40px;
  }
  @media(max-width:767px)
  {
    .service .ser{
text-align: center;
      flex-direction: column;
    }
  }
.service .ser i{
  color: #10cab7;
  display: inline;
  flex-basis: 60px;
  

}
.service .ser .text{
  flex: 1;

}
.service .ser .text h3{
  margin: 0 0 20px;
}
.service .ser .text p{
color: #777;
font-weight: 300;
line-height: 1.6;


}

.image img{
  border-style: none;
  width: 260px;
  height: 340px;}

.services .service .image {
  text-align: center;
  position: relative;
}
.services .service .image::before {
  content: "";
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;}
   
@media(max-width:1199px)
{.image-column{
display: none;
} 
}


  .portfolios{
background-color:#f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
    
  }
  .portfolios .portfolio{
    
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 20px;
  }
  .portfolios .portfolio .card
  {
    background-color: white;
  }
    .portfolios .portfolio .card  img{
      background-color: white;
        max-width: 100%;  



  }
   .portfolios .portfolio .card  .info {
padding: 20px;    }
.portfolios .portfolio .card  .info {

margin: 0;


}
  .portfolios .portfolio .card  .info p{
margin-bottom: 0;
line-height: 1.6;
    color: #777;
  }
  .portfolio{

    margin-top: 50px;
  }
  .abouts{

    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about{


    
margin-top: 100px;
display: flex;
justify-content: space-between;

  }
  @media(max-width:991px){

    .about{

      
text-align: center;
flex-direction: column;
    }
  }
  .abouts .about .image{

width: 250px;
    position: relative;
  }






  @media(max-width:991px){

  .abouts .about .image{

    margin: 0 auto 60px;
  }}

  .abouts .about .text{

/* margin-top: 20px; */

flex-basis: calc(100% - 500px);
  }
  hr{
    
width: 200px;
margin-left: 3px;
border-color: #10cab7
  }
  .abouts .about .text p:first-of-type{
    font-weight: bold;
    line-height: 2;

  }
  .abouts .about .text p:last-of-type{
    color: #777;
    line-height: 2;
  }
  .abouts .about .image::before{

    content: "";
  background-color: #eee;
  width: 100px;
  height: 410px;
  top: -50px;
  position: absolute;
  left: -30px;
   z-index: -1;
  
  }
   .abouts .about .image::after{
    content: " ";
    position: absolute;
    width: 120px;
    top: -37px;
    height: 260px;
    left: 207px;
    z-index: -1;
    border-left: 85px solid #10cab7;
    border-bottom: 85px solid #10cab7;

   }
   @media(max-width:991px){

    .abouts .about .image::before,
      .abouts .about .image::after{

display: none;

      }

      }
.contacts{
background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.label{



  color: #2c4755;
  padding-top: 35px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -3px;
}
.link{

  display: block;
  text-decoration: none;
  color: #10cab7;
  padding-top: 35px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
}
.social{

  display: flex;
  /* margin-bottom: 12px; */
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}
.social i{

margin-left: 10px;
color: #2c4755;

}
@media(max-width:767px){
.label,.link{
  font-size: 25px;
}}
.footer{

  background-color: #2c4755;
  color: white;
  font-size: 20px;
  height: 80px;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
}
span{

  color: #10cab7;
}